<details>
    <summary>What is a subsidiary?</summary>

    <p>A subsidiary is an undertaking (which could be a body corporate such as a company or LLP, a partnership or an
        unincorporated association carrying on a trade or business) controlled by a company or LLP (a parent).
        This can be where the parent:</p>
    <ul class="list list-bullet">
        <li>holds a majority of the voting rights in the subsidiary,</li>
        <li>is a member of the subsidiary and has the right to appoint or remove a majority of its board,</li>
        <li>is a member and controls alone, under an agreement with other members, a majority of the voting rights,</li>
        <li>has the right to exercise a dominant influence over the subsidiary due to provisions in the subsidiary’s articles or a control contract, or</li>
        <li>has the power to exercise or actually exercised, dominant influence or control over the subsidiary, or both the parent and subsidiary are managed on a unified basis.</li>

    </ul>
    <p>See the Companies Act section 1162 and Schedule 7 for full details.</p>
</details>