<details>
    <summary>What is a subsidiary?</summary>

    <p>A company is a subsidiary of another company (its holding company) if that other company:</p>
    <ul class="list list-bullet">
        <li>holds a majority of the voting rights in it, <span class="bold-small">or</span></li>
        <li>is a member of it and has the right to appoint or remove a majority of its board of directors, <span class="bold-small">or</span></li>
        <li>is a member of it and controls a majority of the voting rights in it.</li>
    </ul>
    <p>This also applies where the company is a subsidiary of a company that is itself a subsidiary of a holding company.</p>
</details>