<div class="breadcrumbs">
    <ol>
        <li><a href="@routes.HomeController.index()">@shared._name()</a></li>
    </ol>
</div>
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if your business needs to report</h1>
    <h3 class="heading-medium">
        Is your business a company or Limited Liability Partnership incorporated in the UK?
    </h3>
    <form method="GET" action="">
        <fieldset class='form-group inline'>
            <label class="block-label" for='yes'>
                <input type="radio" class="form-control" id='yes' name='company' value='true'>
                Yes
            </label>
            <label class="block-label" for='no'>
                <input type="radio" class="form-control" id='no' name='company' value='false'>
                No
            </label>
        </fieldset>

        <input type="submit" class="button" value="Continue">
    </form>
</div>