@(question: Question, currentState: Map[String, String])(implicit messages: MessagesApi)

@inlineClass(question: Question) = @{
    if(question.inline) "inline" else ""
}

<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if your business needs to report</h1>
    <h3 class="heading-medium">
    @messages(question.textKey)
    </h3>
    @question.hintKey.map {key => <p class="form-hint">@messages(key)</p>}
    @question.detailText.map { text => @text <br/> }
    <form method="POST" action="@controllers.routes.QuestionnaireController.nextQuestion()">
        @for((k, v) <- currentState) {
            <input type="hidden" name='@k' value="@HtmlFormat.escape(v)">
        }
        <fieldset class='form-group @inlineClass(question)'>
        @question.choices.map { case Choice(label, value)  =>
        <label class="block-label" for='@value'>
            <input type="radio" class="form-control" id='@value' name='@question.fieldKey' value='@value'>@messages(label)
        </label>
        }
        </fieldset>
        <input type="submit" class="button" name="Continue" value="Continue">
    </form>
</div>