@(question: _root_.questionnaire.Question)
    @import _root_.questionnaire._

@inlineClass(question: Question) = @{
    if(question.inline) "inline" else ""
}

<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if your business needs to report</h1>
    <h3 class="heading-medium">
    @question.text
    </h3>
    @question.hintText.map {text=> <p class="form-hint">@text</p>}
    @question.detailText.map { text => @text <br/> }
    <form method="POST" action="">
        <fieldset class='form-group @inlineClass(question)'>
        @question.choices.map { case Choice(label, value) =>
        <label class="block-label" for='@value'>
            <input type="radio" class="form-control" id='@value' name='@question.fieldKey' value='@value'>@label
        </label>
        }
        </fieldset>
        <input type="submit" class="button" name="Continue" value="Continue">
    </form>
</div>