<div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if your business needs to report</h1>
    <p>Large companies and limited liability partnerships (LLPs) may have to report on their payment terms and practices. Use this service to tell you:</p>
    <ul class="list list-bullet">
        <li>if your business needs to report</li>
        <li>when your next report is due and what dates it will cover</li>
        <li>what information you’ll have to gather before you file your report</li>
    </ul>

    <p class="panel">
        You will now be asked some questions about your business.
        <span class="bold-small">Your answers must be for your business on its own, even if it's part of a group.
            Every business within the group will need to do this individually.</span>
            If your business' financial year is not 12 months, the thresholds must be proportionally adjusted.
    </p>
    <a name="Start now" href="@routes.QuestionnaireController.nextQuestion()" class="button button-start">Start now</a>
</div>
