@(externalRouter: ExternalRouter)

<div class="grid-row">
    <div class="column-two-thirds">
     <div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge">Check if your business needs to report</h1>
    <p>Large companies and large limited liability partnerships (LLPs) may have to report on their payment terms and practices.</p>
    <p>You will be asked some questions about your business to find out:</p>
    <ul class="list list-bullet">
        <li>if your business needs to report</li>
        <li>when your next report is due and what dates it should cover</li>
        <li>what information you need to gather before you file your report</li>
    </ul>

    <p class='panel bold-small'>
        Your answers must be for your business on its own, even if it's part of a group.
        Every business within the group will need to do this individually.
    </p>
    <a name="Start now" href="@routes.QuestionnaireController.nextQuestion()" class="button button-start">Continue to questions</a>
      </div>
    </div>
    @shared._sidebar(externalRouter)
</div>

