@()

    @import _root_.questionnaire.FinancialYear.First
    @import _root_.questionnaire.FinancialYear.Second
    @import _root_.questionnaire.FinancialYear.ThirdOrLater

<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out if your business needs to report</h1>
    <h3 class="heading-medium">
        Which financial year is your business currently in?
    </h3>
    <form method="POST" action="@controllers.routes.QuestionnaireController.postWhichFinancialYear()">
        <fieldset class='form-group'>
            <label class="block-label" for='@First.entryName'>
                <input type="radio" class="form-control" id='@First.entryName' name='year' value='@First.entryName'>
                First year
            </label>
            <label class="block-label" for='@Second.entryName'>
                <input type="radio" class="form-control" id='@Second.entryName' name='year' value='@Second.entryName'>
                Second year
            </label>
            <label class="block-label" for='@ThirdOrLater.entryName'>
                <input type="radio" class="form-control" id='@ThirdOrLater.entryName' name='year' value='@ThirdOrLater.entryName'>
                Third year or later
            </label>
        </fieldset>

        <input type="submit" class="button" value="Continue">
    </form>
</div>