<div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge">
    Payment practices reporting
    </h1>
    <p class="lede">
        Large businesses must publish information about their payment terms and how they keep to them.
    </p>

    <div class="grid-row">
        <div class="column-half">
            <h3 class="heading-medium">Search for a report</h3>
            <p>
                <a href="@controllers.routes.SearchController.search(None, None, None)">Search large UK businesses</a>
                to learn about their payment practices and performance.
            </p>
            <p>
            You can <a href="@controllers.routes.DownloadController.show()">download all available reports</a> as a file for further analysis.
        </p>
        </div>
        <div class="column-half">
            <h3 class="heading-medium">Publish reports</h3>
            <p>
                <a href="@controllers.routes.QuestionnaireController.start()">Find out if you need to publish a report</a>
                .
            </p>
            <p>If you have to publish reports, you need to <a href="@controllers.routes.CalculatorController.start()">work out your reporting periods and deadlines</a>
                .
        </p>
            <p>
            Once you’ve prepared all your report data, you must <a href="@controllers.routes.ReportController.search(None, None, None)">publish your report</a>
                online.
        </p>
        </div>
    </div>
</div>