@()

<div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge"> Payment Practices Reporting</h1>
    <p class="lede">
        Large businesses must publish information abut their payment terms and how they keep to them.
    </p>
    <p>Large companies and limited liability partnerships (LLPs) may have to report on their payment terms and practices. Use this service to tell you:</p>

    <ul class="list list-bullet">
        <li>if your business needs to report</li>
        <li>when your next report is due and what dates it will cover</li>
        <li>what information you’ll have to gather before you longForm your report</li>
    </ul>
    <a href="@routes.ReportController.search(None, None, None)" class="button button-start">Start now</a>

    <h2 class="heading-medium">Before you start</h2>

    <p><a href="@routes.QuestionnaireController.start()">Find out if you need to publish a report</a></p>

    <p><a href="@routes.CalculatorController.start()">Calculate your reporting periods and deadlines</a></p>


</div>