<p>
    All the information you provide must relate to 'qualifying contracts'. These are contracts which:
</p>
<ul class="list list-bullet">
    <li>are business-to-business <span class="bold-small">and</span></li>
    <li>are for goods, services or intangible property, including intellectual property.</li>
</ul>
<p>
    The contracts must also have a 'significant connection to the UK'. If the contract is governed by UK law,
    you need to show that couldn't equally easily be governed by non-UK law.
    Equally, a contract governed by non-UK law may be in-scope, if it could be subject to UK law too.
</p>
<p>
    Contracts for <a href="http://www.legislation.gov.uk/ukpga/2015/26/section/2/enacted">financial services</a> are excluded.
</p>
    <p class="panel">
        When you work out how many days you take to pay suppliers, day 0 is the day you receive their invoice or timesheet.
        This means that you need to calculate from the following day. The end of the period is when payment is made to
        the supplier.
    </p>