<p>
    The information you provide must relate to 'qualifying contracts'. </p>
<p> A qualifying contract is a contract which satisfies all of the following:
</p>
<ul class="list list-bullet">
    <li>It is between 2 (or more) businesses</li>

    <li>It has a significant connection with the UK (as explained below)</li>

    <li>It is for goods, services or intangible property, including intellectual property</li>

    <li>It is not for <a rel="external" target="_blank" href="http://www.legislation.gov.uk/ukpga/2015/26/section/2/enacted">financial services</a></li>
</ul>

<h3 class="heading-small">Significant Connection to the UK</h3>

<p>
    If a UK law (i.e. the law of England and Wales, Scotland or Northern Ireland) applies to a contract without the parties
    choosing the governing law, then the contract is sufficiently connected to the UK, so must be reported on. If a contract
    does not contain a clause stating which country’s law applies to it, the applicable law will be determined by legal rules.
</p>

<p>
    If the parties choose a UK law to apply to a contract, but it has no significant connection with the UK then it should
    not be covered in the business’s reporting information. If the parties choose a non-UK law to apply to the contract,
    but it would have been governed by a UK law if the parties hadn’t made that choice, it must still be included in the
    business’s published information.
</p>

<p>
    Whether a contract has a significant connection with the UK will depend on the circumstances. But examples would
    include a contract which will be performed in the UK (e.g. goods will be delivered or services carried out in the UK),
    or where the supplier is established in the UK or one or both parties carries on a relevant part of their business in
    the UK.
</p>

<p>
    The contracts must also have a 'significant connection to the UK'. If the contract is governed by UK law,
    you need to show that couldn't equally easily be governed by non-UK law.
    Equally, a contract governed by non-UK law may be in-scope, if it could be subject to UK law too.
</p>
