@(prefix: String, day: Option[String], month: Option[String], year: Option[String])

<div class="form-date">
    @defining(prefix + ".day") { fieldName =>
        <div class="form-group form-group-day">
            <label class="form-label" for='@fieldName'>Day</label>
            <input class="form-control" type="number" pattern="[0-9]*" min="1" max="31" id='@fieldName' name='@fieldName' value="@day"/>
        </div>
    }
    @defining(prefix + ".month") { fieldName =>
        <div class="form-group form-group-month">
            <label class="form-label" for='@fieldName'>Month</label>
            <input class="form-control" type="number" pattern="[0-9]*" min="1" max="12" id='@fieldName' name='@fieldName' value="@month" />
        </div>
    }
    @defining(prefix + ".year") { fieldName =>
        <div class="form-group form-group-year">
            <label class="form-label" for='@fieldName'>Year</label>
            <input class="form-control" type="number" pattern="[0-9]*" id='@fieldName' name='@fieldName' value="@year"/>
        </div>
    }
</div>

<div style="clear: both"></div>