@(form: Form[_], fieldName: String)(implicit messages: MessagesApi)
    @import shared._dateinput

@subErrors = @{
    Seq(
        form.error(s"$fieldName.day"),
        form.error(s"$fieldName.month"),
        form.error(s"$fieldName.year")
    ).flatten
}

@errorClass(field: Field) = @{
    if(subErrors.nonEmpty || field.hasErrors) "error" else ""
}
@errorMessage(field: Field) = @{
    if(subErrors.nonEmpty) messages("error.date")
    else field.error.map(e => messages(e.message, e.args: _*))
}

<div class="form-group @errorClass(form(fieldName))">
    <fieldset id="@fieldName-question">
        <legend id="@fieldName">
            <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>
            <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
        </legend>
        @_dateinput(fieldName, form(s"$fieldName.day").value, form(s"$fieldName.month").value, form(s"$fieldName.year").value)
    </fieldset>
</div>