<p class="panel">
        When you work out how many days you take to pay suppliers, day 0 is the day you receive their invoice or timesheet,
    whether by post, email or otherwise. This means that you need to calculate from the day after receipt (i.e. the
    day after receipt is day 1). The end of the period is when payment is made to the supplier. A payment is
    counted as 'made' when it is available to the supplier, (for example, when it clears their bank account) unless
    delayed by circumstances out of your control. You do not need proof that your payment has cleared, but you need to
    count the standard time it takes to clear if there are no unforeseen issues.
</p>