
<p class="panel">
<strong class="bold-medium">Calculating the number of days taken to pay suppliers</strong><br />
When you work out how many days you take to pay suppliers, day 0 is the day you receive their invoice or timesheet, whether by post, email or otherwise.<br />
Day 1 for calculation purposes is the day after receipt - whatever day of the week that is, including weekends and bank holidays. <br />
The end of the period is when payment is received by the supplier. A payment is viewed as ‘received’ when it’s available to the supplier - for example, when it clears in their bank account. <br />
You don’t need proof that your payment has cleared, but you need to take into account the standard time it takes for payments to clear using your chosen payment method.<br />
</p>
