<div class="footer-categories">
    <div class="footer-explore grid-row">
        <div class="column-half">
            <h3 class="bold-medium" style="border-bottom: 1px solid #bfc1c3; padding-bottom: 10px; margin-bottom: 10px">
                Read reports
            </h3>
            <ul class="list">
                <li><a href="@controllers.routes.SearchController.search(None, None, None)">Search for a report</a></li>
            </ul>
        </div>
        <div class="column-half">
            <h3 class="bold-medium" style="border-bottom: 1px solid #bfc1c3; padding-bottom: 10px; margin-bottom: 10px">
                Publish reports
            </h3>

            <ul class="list">
                <li><a href="@controllers.routes.QuestionnaireController.start()">Find out if your business needs to publish reports</a></li>
                <li><a href="@controllers.routes.CalculatorController.start()">Determine your reporting deadlines</a></li>
                <li><a href="@controllers.routes.ReportController.search(None, None, None)">Publish a report</a></li>
            </ul>
        </div>
    </div>
</div>
