@(form: Form[_], fieldName: String, unitText: Option[String] = None)(implicit messages: MessagesApi)

<fieldset id="@fieldName-question" class='form-group @errorClass(form(fieldName))'>
    <label for=@fieldName>
        <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>
        @shared._hint(fieldName)
        <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
    </label>
    <input class="form-control form-control-number-wide"  pattern="?[0-9]*" type="number" id=@fieldName name="@fieldName" value="@form(fieldName).value">
    @unitText.map { text => <span class="number-unit">@text</span> }
</fieldset>