@import org.joda.time.format.DateTimeFormatter
@import services.FiledReport
@(report: FiledReport, companiesHouseIdentifier: String, df: DateTimeFormatter)
<li class="searchresult">
    <h2 class="heading-medium">
        <a href="@routes.ReportController.view(report.header.id)">
            <span class="nowrap">@df.print(report.period.startDate)</span> to <span class="nowrap">@df.print(report.period.endDate)</span>
        </a>
    </h2>
    <p>
        Published: @df.print(report.filing.filingDate)
    </p>
</li>