@(form: Form[_], fieldName: String)(implicit messages: MessagesApi)

<div class="form-group @errorClass(form(fieldName))">
    <fieldset>
        <label for="@fieldName">
            <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>
            <span class="form-hint">@messages(s"field.$fieldName.hint")</span>
            <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
        </label>
        <textarea class="form-control" id="@fieldName" name="@fieldName">@form(fieldName).value</textarea>
    </fieldset>
</div>