@(form: Form[_], fieldName: String)(implicit messages: MessagesApi)

@import shared._hint

<div class="form-group @errorClass(form(fieldName))">
    <fieldset id="@fieldName-question">
        <label for="@fieldName">
            <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>

            @_hint(fieldName)

            <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
        </label>
        <textarea class="form-control" id="@fieldName" name="@fieldName">@form(fieldName).value</textarea>
    </fieldset>
</div>