@(form: Form[_], fieldName: String)(implicit messages: MessagesApi)

<div class="form-group @errorClass(form(fieldName))">
    <fieldset>
        <label for="@fieldName">
            <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>
            @shared._hint(fieldName)
            <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
        </label>
        <input type="text" class="form-control" id="@fieldName" name="@fieldName" value="@form(fieldName).value" />
    </fieldset>
</div>