@(form: Form[_], fieldName: String)(implicit messages: MessagesApi)

<div class="form-group @errorClass(form(fieldName))">
    <fieldset class="inline">
        <legend id="@fieldName">
            <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>
            <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
        </legend>

        <div class="multiple-choice">
            <input id="@fieldName-yes" name="@fieldName" type="radio" value="yes" @(if(form(fieldName).value.contains("yes")) "checked='checked'")>
            <label for="@fieldName-yes"> Yes </label>
        </div>

        <div class="multiple-choice">
            <input id="@fieldName-no" name="@fieldName" type="radio" value="no" @(if(form(fieldName).value.contains("no")) "checked='checked'")>
            <label for="@fieldName-no"> No </label>
        </div>
    </fieldset>
</div>