@(form: Form[_], fieldName: String)(implicit messages: MessagesApi)

@checked(value: String) = @{
    if(form(fieldName).value.contains(value)) "checked='checked'" else ""
}

<div class="form-group @errorClass(form(fieldName))">
    <fieldset class="inline">
        <legend id="@fieldName">
            <span class="form-label-bold">@messages(s"field.$fieldName.label")</span>
            <span id="error-@fieldName" class="error-message">@errorMessage(form(fieldName))</span>
        </legend>

        <div class="multiple-choice">
            <input id="@fieldName-yes" name="@fieldName" type="radio" value="yes" @checked("yes")>
            <label for="@fieldName-yes"> Yes </label>
        </div>

        <div class="multiple-choice">
            <input id="@fieldName-no" name="@fieldName" type="radio" value="no" @checked("no")>
            <label for="@fieldName-no"> No </label>
        </div>
    </fieldset>
</div>