
<div class="scannable-wrapper">
    <h1 class="heading-xlarge">
        Access raw data
    </h1>
    <p class="lede">
        You can download the raw dataset for commercial and personal use. The set contains all reports submitted in the last 24 months, up to a maximum of 100,000 records.
    </p>

    <p>
        <a href="@routes.DownloadController.export()" class="button">Get CSV file</a>
    </p>

    <p>
        <a href="@routes.DownloadController.show" class="link-back">Back</a>
    </p>
</div>