/* govuk_frontend_toolkit includes */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after, #footer .footer-meta:after {
  content: "";
  display: block;
  clear: both; }

#global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {
      margin: 0 auto; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after, #footer .footer-meta:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* local styleguide includes */
@-ms-viewport {
  width: device-width; }

html, body, button, input, table, td, th {
  font-family: "nta", Arial, sans-serif; }

html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

main {
  display: block; }

.group:before,
.group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.content-fixed {
  top: 0;
  position: fixed; }

.shim {
  display: block; }

/*
 * 1. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 1 */
  background-color: #dee0e2; }

/*
  Force the scrollbar to always display in IE10/11
 */
html {
  -ms-overflow-style: scrollbar; }

body {
  background: white;
  color: #0b0c0c;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ol, ul, nav ol, nav ul {
  list-style: inherit; }

fieldset {
  border: none;
  padding: 0; }

a:link {
  color: #005ea5; }

a:visited {
  color: #4c2c92; }

a:hover {
  color: #2e8aca; }

a:active {
  color: #2e8aca; }

a[rel="external"]:after {
  background-image: url(external-links/external-link.png);
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    a[rel="external"]:after {
      background-image: url(external-links/external-link-24x24.png);
      background-size: 12px 400px; } }
a[rel="external"]:after {
  content: "\A0\A0\A0\A0\A0";
  background-position: right 3px; }
a[rel="external"]:hover:after {
  background-position: right -385px; }
@media (min-width: 641px) {
  a[rel="external"]:after {
    content: "\A0\A0\A0\A0";
    background-position: right 6px; }
  a[rel="external"]:hover:after {
    background-position: right -382px; } }

.external-link:after {
  content: "\A0\A0\A0\A0\A0\A0\A0\A0";
  background-position: right 0px; }
.external-link:hover:after {
  background-position: right 0px; }
.external-link:after {
  background-image: url(external-links/external-link-black-12x12.png);
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .external-link:after {
      background-image: url(external-links/external-link-black-24x24.png);
      background-size: 12px 400px; } }

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 *    note - font-size reduced to 62.5% to allow simple rem/px font-sizing and fallback
 *    http://snook.ca/archives/html_and_css/font-size-with-rem
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 */
html {
  font-size: 62.5%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 3 */ }

/*
 * 1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 * 2. Addresses margins handled incorrectly in IE6/7
 */
body {
  font-size: 160%;
  /* 1 */
  margin: 0;
  /* 2 */ }

b,
strong {
  font-weight: 600; }

img {
  border: 0; }

abbr[title] {
  cursor: help; }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  margin-right: 2px; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }
  .ir br {
    display: none; }

/* Hide for both screenreaders and browsers */
.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visually-hidden,
.visuallyhidden {
  position: absolute;
  left: -9999em;
  /*
   * Extends the .visuallyhidden class to allow the element to be
   * focusable when navigated to via the keyboard
   */ }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus,
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Give a strong clear visual idea as to what is currently in focus */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

a:focus {
  background-color: #ffbf47;
  outline: 3px solid #ffbf47; }

/* Make skiplinks visible when they are tabbed to */
.skiplink {
  position: absolute;
  left: -9999em; }

.skiplink:focus {
  left: 0;
  z-index: 1; }

#skiplink-container {
  text-align: center;
  background: #0b0c0c; }
  #skiplink-container div {
    text-align: left;
    margin: 0 auto;
    max-width: 1020px; }
  #skiplink-container .skiplink {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 0.75em 0 0 30px; }

input:focus,
textarea:focus,
select:focus,
button:focus,
#global-header input:focus {
  outline: 3px solid #ffbf47; }

#global-header h1 a:focus {
  background-color: transparent;
  outline: none; }
#global-header a:focus {
  color: #0b0c0c; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

#global-header .header-wrapper:after, #global-header .header-wrapper .header-global:after, #global-header .header-wrapper .header-global .header-logo:after, #global-header .header-proposition #proposition-link:after,
#global-header .header-proposition #proposition-links:after, #footer .footer-meta:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

#global-header {
  background-color: #0b0c0c;
  width: 100%; }
  #global-header .header-wrapper {
    background-color: #0b0c0c;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px; }
    @media (min-width: 641px) {
      #global-header .header-wrapper {
        padding-left: 15px;
        padding-right: 15px; } }
    #global-header .header-wrapper .header-global .header-logo {
      float: left; }
      @media (min-width: 769px) {
        #global-header .header-wrapper .header-global .header-logo {
          width: 33.33%; } }
      @media screen and (max-width: 379px) {
        #global-header .header-wrapper .header-global .header-logo {
          width: auto;
          float: none; } }
      #global-header .header-wrapper .header-global .header-logo .content {
        margin: 0 15px; }
    #global-header .header-wrapper .header-global .header-logo {
      margin: 5px 0 2px; }
  @media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-global {
      float: left;
      width: 33.33%; }
      #global-header.with-proposition .header-wrapper .header-global .header-logo,
      #global-header.with-proposition .header-wrapper .header-global .site-search {
        width: 100%; } }
  @media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-proposition {
      width: 66.66%;
      float: left; } }
  #global-header.with-proposition .header-wrapper .header-proposition .content {
    margin: 0 15px; }
  #global-header #logo {
    float: left;
    position: relative;
    top: -1px;
    height: 30px;
    overflow: visible;
    vertical-align: baseline;
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    margin-bottom: -3px;
    padding-top: 2px;
    border-bottom: 1px solid transparent;
    background: url(images/gov.uk_logotype_crown.png) no-repeat;
    background-size: 35px 31px;
    background-position: 0 0; }
    #global-header #logo img {
      position: relative;
      top: -2px;
      width: 35px;
      height: 31px;
      padding-right: 6px;
      float: left;
      display: inline;
      line-height: inherit;
      border: none;
      visibility: hidden; }
    #global-header #logo:hover, #global-header #logo:focus {
      text-decoration: none;
      border-bottom-color: white; }
  #global-header .header-proposition {
    padding-top: 10px; }
    @media (min-width: 769px) {
      #global-header .header-proposition {
        padding-top: 0; } }
    #global-header .header-proposition #proposition-name {
      font-family: "nta", Arial, sans-serif;
      font-size: 24px;
      line-height: 1.25;
      font-weight: 400;
      text-transform: none;
      font-weight: bold;
      color: white;
      text-decoration: none; }
      @media (max-width: 640px) {
        #global-header .header-proposition #proposition-name {
          font-size: 18px;
          line-height: 1.2; } }
    #global-header .header-proposition a#proposition-name:hover {
      text-decoration: underline; }
    #global-header .header-proposition a.menu {
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      text-transform: none;
      color: white;
      display: block;
      float: right;
      text-decoration: none;
      padding-top: 6px; }
      @media (max-width: 640px) {
        #global-header .header-proposition a.menu {
          font-size: 14px;
          line-height: 1.14286; } }
      @media (min-width: 769px) {
        #global-header .header-proposition a.menu {
          display: none; } }
      #global-header .header-proposition a.menu:hover {
        text-decoration: underline; }
      #global-header .header-proposition a.menu:after {
        display: inline-block;
        font-size: 8px;
        height: 8px;
        padding-left: 5px;
        vertical-align: middle;
        content: " \25BC"; }
      #global-header .header-proposition a.menu.js-hidden:after {
        content: " \25B2"; }
    #global-header .header-proposition #proposition-menu {
      margin-top: 5px; }
      @media (min-width: 769px) {
        #global-header .header-proposition #proposition-menu.no-proposition-name {
          margin-top: 37px; } }
    #global-header .header-proposition #proposition-link,
    #global-header .header-proposition #proposition-links {
      clear: both;
      margin: 2px 0 0 0;
      padding: 0; }
      .js-enabled #global-header .header-proposition #proposition-link, .js-enabled
      #global-header .header-proposition #proposition-links {
        display: none; }
        @media (min-width: 769px) {
          .js-enabled #global-header .header-proposition #proposition-link, .js-enabled
          #global-header .header-proposition #proposition-links {
            display: block; } }
        .js-enabled #global-header .header-proposition #proposition-link.js-visible, .js-enabled
        #global-header .header-proposition #proposition-links.js-visible {
          display: block; }
      #global-header .header-proposition #proposition-link li,
      #global-header .header-proposition #proposition-links li {
        float: left;
        width: 50%;
        padding: 3px 0;
        border-bottom: 1px solid #2e3133; }
        @media (min-width: 769px) {
          #global-header .header-proposition #proposition-link li,
          #global-header .header-proposition #proposition-links li {
            display: block;
            width: auto;
            padding: 0 15px 0 0;
            border-bottom: 0; }
            #global-header .header-proposition #proposition-link li.clear-child,
            #global-header .header-proposition #proposition-links li.clear-child {
              clear: left; } }
      #global-header .header-proposition #proposition-link a,
      #global-header .header-proposition #proposition-links a {
        color: white;
        text-decoration: none;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857;
        font-weight: 700;
        text-transform: none; }
        @media (max-width: 640px) {
          #global-header .header-proposition #proposition-link a,
          #global-header .header-proposition #proposition-links a {
            font-size: 12px;
            line-height: 1.25; } }
        @media (min-width: 769px) {
          #global-header .header-proposition #proposition-link a,
          #global-header .header-proposition #proposition-links a {
            font-family: "nta", Arial, sans-serif;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 700;
            text-transform: none;
            line-height: 23px; } }
          @media (min-width: 769px) and (max-width: 640px) {
            #global-header .header-proposition #proposition-link a,
            #global-header .header-proposition #proposition-links a {
              font-size: 14px;
              line-height: 1.14286; } }
        #global-header .header-proposition #proposition-link a:hover,
        #global-header .header-proposition #proposition-links a:hover {
          text-decoration: underline; }
        #global-header .header-proposition #proposition-link a.active,
        #global-header .header-proposition #proposition-links a.active {
          color: #1d8feb; }
        #global-header .header-proposition #proposition-link a:focus,
        #global-header .header-proposition #proposition-links a:focus {
          color: #0b0c0c; }
    #global-header .header-proposition #proposition-link {
      float: right;
      line-height: 22px; }
      .js-enabled #global-header .header-proposition #proposition-link {
        display: block; }
      @media (min-width: 769px) {
        #global-header .header-proposition #proposition-link {
          float: none; } }

/* Global header bar */
#global-header-bar {
  height: 10px;
  background-color: #005ea5; }

/* Global cookie message */
.js-enabled #global-cookie-message {
  display: none;
  /* shown with JS, always on for non-JS */
  }

#global-cookie-message .notify-cookie-banner__wrapper {
        padding: 15px 0;
    }

    #global-cookie-message .govuk-width-container {
          max-width: 960px;
          margin: 0 15px;
     }

     #global-cookie-message h2.govuk-heading-m {
       font-weight: 700;
       font-size: 18px;
       line-height: 1.11111;
       display: block;
     }

     #global-cookie-message .govuk-body {
        margin: 0;
     }

     #global-cookie-message .govuk-heading-m, #global-cookie-message .govuk-body {
        color: #0b0c0c;
        font-family: nta,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
      }

     #global-cookie-message .notify-cookie-banner__buttons {
         display: flex;
         flex-wrap: wrap;
     }

     .notify-cookie-banner__button-accept {
          margin-right: 20px;
      }

      .notify-cookie-banner__button {
        display: inline-block;
        flex: 1 0;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 10px;
      }

      .notify-cookie-banner__button, .notify-cookie-banner__link {
          vertical-align: baseline;
      }

      .govuk-button {
        font-family: nta,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.1875;
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: 0;
        margin-bottom: 22px;
        padding: 7px 10px;
        border: 2px solid transparent;
        border-radius: 0;
        color: #fff;
        background-color: #00823b;
        box-shadow: 0 2px 0 #003418;
        text-align: center;
        vertical-align: top;
        cursor: pointer;
        -webkit-appearance: none;
      }

      .govuk-button:focus, .govuk-button:hover {
        background-color: #00682f;
      }

      .govuk-button:active {
        top: 2px;
        box-shadow: none;
      }

      .govuk-button:active, .govuk-button:hover, .govuk-button:link, .govuk-button:visited {
        color: #fff;
        text-decoration: none;
      }

       .govuk-button:focus {
         border-color: #fd0;
         outline: 3px solid transparent;
         outline-offset: 0;
         box-shadow: inset 0 0 0 1px #fd0;
       }

      .govuk-button:focus:not(:active):not(:hover) {
        border-color: #fd0;
        color: #0b0c0c;
        background-color: #fd0;
        box-shadow: 0 2px 0 #0b0c0c;
      }

      .govuk-button::before {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -4px;
        left: -2px;
        background: 0 0;
       }

      .govuk-visually-hidden {
        position: absolute!important;
        width: 1px!important;
        height: 1px!important;
        margin: 0!important;
        padding: 0!important;
        overflow: hidden!important;
        clip: rect(0 0 0 0)!important;
        -webkit-clip-path: inset(50%)!important;
        clip-path: inset(50%)!important;
        border: 0!important;
        white-space: nowrap!important;
      }

      .govuk-link:link {
        color: #005ea5;
      }

      .govuk-link:active, .govuk-link:hover  {
        color: #2b8cc4;
      }

      .govuk-link:focus {
        outline: 3px solid transparent;
        color: #0b0c0c;
        background-color: #fd0;
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;
      }

       .notify-cookie-banner__link {
          font-family: nta,Arial,sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.25;
          line-height: 1;
          display: block;
          width: 100%;
          padding: 9px 0 6px;
       }

        /* Cookies page */
        .govuk-grid-row {
          margin-left: -15px;
          margin-right: -15px;
        }

        .govuk-grid-column-two-thirds {
          box-sizing: border-box;
          width: 100%;
          padding: 0 15px;
        }
       .govuk-form-group {
         margin: 20px 0;
       }

       .govuk-fieldset {
          min-width: 0;
          margin: 0;
          padding: 0;
          border: 0;
       }

       .govuk-fieldset__legend--s {
          font-family: nta,Arial,sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.25;
       }

       .govuk-fieldset__legend {
          color: #0b0c0c;
          box-sizing: border-box;
          display: table;
          max-width: 100%;
          margin-bottom: 10px;
          padding: 0;
          overflow: hidden;
          white-space: normal;
       }

       .govuk-radios__item {
         font-family: nta,Arial,sans-serif;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.25;
         display: block;
         position: relative;
         min-height: 40px;
         margin-bottom: 10px;
         padding-left: 40px;
         clear: left;
       }

       .govuk-radios__input {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          top: -2px;
          left: -2px;
          width: 44px;
          height: 44px;
          margin: 0;
          opacity: 0;
       }

       .govuk-radios__input:focus {
         outline: 3px solid #ffbf47;
         outline-offset: 0;
       }

       .govuk-radios__input:focus+.govuk-radios__label::before,
       .multiple-choice [type=radio]:focus+label::before {
         border-width: 4px;
         outline: 3px solid transparent;
         outline-offset: 3px;
         box-shadow: 0 0 0 4px #fd0;
       }

       .govuk-radios__label {
          display: inline-block;
          margin-bottom: 0;
          padding: 8px 15px 5px;
          cursor: pointer;
          -ms-touch-action: manipulation;
          touch-action: manipulation;
       }

       .govuk-radios__label::before {
          content: "";
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          border: 2px solid currentColor;
          border-radius: 50%;
          background: 0 0;
       }

       .govuk-radios__label::after {
          content: "";
          position: absolute;
          top: 10px;
          left: 10px;
          width: 0;
          height: 0;
          border: 10px solid currentColor;
          border-radius: 50%;
          opacity: 0;
          background: currentColor;
       }

       .govuk-radios__input:checked+.govuk-radios__label::after {
        opacity: 1;
       }

       .cookie-settings__confirmation {
         display: none;
         padding: 15px 45px;
         background-image: url(images/tick.png);
         background-size: 19px;
         background-repeat: no-repeat;
         background-position: 15px 15px;
         font-family: nta,Arial,sans-serif;
         font-weight: 700;
         text-transform: none;
         font-size: 16px;
         line-height: 1.25;
         color: #00823b;
         margin: 15px 0 30px 0;
         text-align: left;
         position: relative;
         clear: both;
         border: 5px solid #00823b;
       }

       .cookie-settings__confirmation .banner-title {
        font-size: 18px;
        line-height: 1.25;
        font-weight: 700;
       }

       .cookie-settings__confirmation .govuk_link {
         font-size: 16px;
         line-height: 1.25;
         margin-top: 5px;
        }


       @media (min-width: 641px) {
         .cookie-settings__confirmation .banner-title {
            font-size: 24px;
         }

         .cookie-settings__confirmation .govuk_link {
            font-size: 19px;
            line-height: 1.31579;
         }
       }

    @media (min-width: 40.0625em) {
       #global-cookie-message .notify-cookie-banner__wrapper {
            padding: 20px 0 25px 0;
       }

       #global-cookie-message h2.govuk-heading-m {
           font-size: 24px;
           line-height: 1.25;
       }

       #global-cookie-message .govuk-body {
          font-size: 19px;
          line-height: 1.31579;
        }

       #global-cookie-message .govuk-heading-m, #global-cookie-message .govuk-body {
          margin-bottom: 20px;
        }

        #global-cookie-message .notify-cookie-banner__buttons {
            flex-wrap: nowrap;
        }

        .notify-cookie-banner__button {
            flex: 0 0 150px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 5px;
        }

        .govuk-button {
            width: auto;
            margin-bottom: 32px;
            font-size: 19px;
            line-height: 1;
        }

        .notify-cookie-banner__link {
            display: inline;
            width: auto;
            margin-left: 30px;
            font-size: 19px;
            line-height: 1.31579;
        }

        /* Cookies page */

        .govuk-grid-column-two-thirds {
          width: 66.6666%;
          float: left;
        }

        .govuk-form-group {
          margin: 30px 0;
        }

        .govuk-fieldset__legend--s {
          font-size: 19px;
          line-height: 1.31579;
        }

        .govuk-radios--inline .govuk-radios__item {
          margin-right: 20px;
          float: left;
          clear: none;
        }

        .govuk-label {
          font-size: 19px;
          line-height: 1.31579;
        }
    }


    @media (min-width: 1020px) {
        #global-cookie-message .govuk-width-container {
            margin: 0 auto;
        }
    }


/* Cookie banner confirmation */

.notify-cookie-banner__confirmation {
    display: none;

    position: relative;
    padding: 20px 0;
 }

 .notify-cookie-banner__confirmation-message {
   margin: 0 20px 0 0;
 }

 .notify-cookie-banner__hide-button {
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #005ea5;
    outline: 0;
    border: 0;
    background: 0 0;
    text-decoration: underline;
    padding: 0;
    margin-top: 10px;
    right: 15px;
    cursor: pointer;
 }


@media (min-width: 48.0625em) {
    .notify-cookie-banner__confirmation {
        padding: 20px;
    }

    p.notify-cookie-banner__confirmation-message {
       max-width: 90%;
       display: inline-block;
    }

    .notify-cookie-banner__hide-button {
      font-size: 19px;
      line-height: 1.31579;
      margin-top: 0;
      position: absolute;
      right: 20px;
    }
}

/* Global footer */
#footer {
  background-color: #dee0e2;
  border-top: 1px solid #a1acb2; }
  #footer .footer-wrapper {
    background-color: #dee0e2;
    padding-top: 20px; }
    @media (min-width: 641px) {
      #footer .footer-wrapper {
        padding-top: 60px; } }
  #footer a {
    color: #454a4c; }
    #footer a:hover {
      color: #171819; }
  #footer h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    color: #0b0c0c;
    margin: 0; }
    @media (max-width: 640px) {
      #footer h2 {
        font-size: 18px;
        line-height: 1.2; } }
    #footer h2 a {
      color: inherit; }
  #footer .footer-meta {
    padding-bottom: 60px;
    clear: both;
    font-size: 0;
    color: #454a4c; }
    #footer .footer-meta .footer-meta-inner {
      display: inline-block;
      vertical-align: bottom;
      width: 100%; }
      @media (min-width: 641px) {
        #footer .footer-meta .footer-meta-inner {
          width: 75%; } }
      #footer .footer-meta .footer-meta-inner ul {
        font-family: "nta", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        text-transform: none;
        display: inline-block;
        list-style: none;
        margin: 0 0 1.5em 0;
        padding: 0; }
        @media (max-width: 640px) {
          #footer .footer-meta .footer-meta-inner ul {
            font-size: 14px;
            line-height: 1.5; } }
        @media (min-width: 641px) {
          #footer .footer-meta .footer-meta-inner ul {
            margin: 0 0 1em 0; } }
        #footer .footer-meta .footer-meta-inner ul li {
          display: inline-block;
          margin: 0 15px 0 0; }
      #footer .footer-meta .footer-meta-inner .open-government-licence {
        clear: left;
        position: relative; }
        @media (min-width: 641px) {
          #footer .footer-meta .footer-meta-inner .open-government-licence {
            padding-left: 53px; } }
        #footer .footer-meta .footer-meta-inner .open-government-licence .logo {
          margin-bottom: 1em;
          padding-top: 0; }
          @media (min-width: 641px) {
            #footer .footer-meta .footer-meta-inner .open-government-licence .logo {
              position: absolute;
              left: 0;
              top: 0;
              width: 41px;
              height: 100%; } }
          #footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
            display: block;
            width: 41px;
            height: 17px;
            overflow: hidden;
            text-indent: -999em;
            background: url(images/open-government-licence.png) 0 0 no-repeat; }
            @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
              #footer .footer-meta .footer-meta-inner .open-government-licence .logo a {
                background-image: url(images/open-government-licence_2x.png);
                background-size: 41px 17px; } }
        #footer .footer-meta .footer-meta-inner .open-government-licence p {
          font-family: "nta", Arial, sans-serif;
          font-size: 16px;
          line-height: 1.25;
          font-weight: 400;
          text-transform: none;
          margin: 0;
          padding-top: 0.1em; }
          @media (max-width: 640px) {
            #footer .footer-meta .footer-meta-inner .open-government-licence p {
              font-size: 14px;
              line-height: 1.14286; } }
    #footer .footer-meta .copyright {
      font-family: "nta", Arial, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      text-transform: none;
      margin: 30px 0 0 0;
      width: 100%;
      display: block; }
      @media (max-width: 640px) {
        #footer .footer-meta .copyright {
          font-size: 14px;
          line-height: 1.14286; } }
      @media (min-width: 641px) {
        #footer .footer-meta .copyright {
          display: inline-block;
          text-align: inherit;
          width: 25%;
          padding-top: 15px;
          margin-top: 0; } }
      #footer .footer-meta .copyright a {
        display: block;
        background-image: url(images/govuk-crest.png);
        background-repeat: no-repeat;
        background-position: 50% 0%;
        text-align: center;
        text-decoration: none;
        padding: 115px 0 0 0; }
        @media (min-width: 641px) {
          #footer .footer-meta .copyright a {
            background-position: 100% 0%; } }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          #footer .footer-meta .copyright a {
            background-image: url(images/govuk-crest-2x.png);
            background-size: 125px 102px; } }
        @media (min-width: 641px) {
          #footer .footer-meta .copyright a {
            text-align: right; } }
