main.search .search-header input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  display: block;
  height: 50px;
  border-color: #bfc1c3;
  border-right: none;
  line-height: 48px !important;
}

@media screen {
  input[type="text"], input[type="search"] {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    border: 1px solid #bbb;
    min-width: 8em;
    margin: 0 0.5em;
    padding: 0.25em;
  }
}

input[type="text"], input[type="search"] {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  border: 1px solid #bbb;
  min-width: 8em;
  margin: 0 0.5em;
  padding: 0.25em;
}

main.search .search-header .search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  overflow: visible;
}

fieldset {
  border: none;
  padding: 0;
}

main.search .search-header .search-input {
  position: static;
  margin: 0;
  padding: 0 50px 0 0;
}

fieldset {
  border: none;
  padding: 0;
}

@media screen {
  main.search .search-header button {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    position:absolute;
    z-index:4;
    right:0;
    top:0;
    width:50px;
    height:50px;
    border:none;
    overflow:hidden;
    text-indent:-5000px;
    color:#fff;
    background-color:#2b8cc4;
    background-image:url(https://assets.publishing.service.gov.uk/frontend/search/search-button-fe10ecb60b18fdbcdadaf0918f1761b3847bf85d9924e3ca52a0110c648cb73a.png);
    background-repeat:no-repeat;
    background-position:-12.5% 50%;
  }
}

@media screen {
  @media (min-width: 641px) {
    main.search .search-header {
      padding:20px 0 30px;
      width:66.666%;
    }
  }
}

@media screen {
  main.search .search-header {
    position:relative;
    margin:0;
    padding:10px 0 15px;
    overflow:visible;
  }
}

@media screen {
  main.search .search-header .searchfield {
    position:relative;
  }
}
@media screen {
  html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
    margin:0;
    padding:0;
    vertical-align:baseline;
  }
}
@media screen {
  main.search .search-header .search-input {
    position:static;
    margin:0;
    padding:0 50px 0 0;
  }
}
@media screen {
  fieldset {
    border:none;
    padding:0;
  }
}