@(report: services.Report, df: DateTimeFormatter)

<div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge"> @report.companyName
    <p class="small-aside">Company number: @report.companyId.id</p>
    </h1>

    <h2 class="heading-large">
        Reporting period:<br>
        <span class="nowrap">@df.print(report.reportDates.startDate)</span>
        to <span class="nowrap">@df.print(report.reportDates.endDate)</span>
    </h2>
    <hr>

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong>This information is as reported by the business, and responses are in their own words.</strong>
    </div>

    <h3 class="heading-medium">This report was filed on @df.print(report.filingDate)</h3>
    <p>and approved by @report.approvedBy</p>

    @report.longForm.map { lf =>
        @partials._longForm(lf, report.paymentCodes)
    }.getOrElse {
        @partials._shortForm(report.paymentCodes)
    }

</div>