@import services.{PagedResults, CompanySummary}
@(
        intentToFile: scala.Boolean,
        searchTerm: String,
        resultsO: Option[PagedResults[CompanySummary]],
        counts:Map[CompaniesHouseId, Int],
        pageLink: Int => Call
)

@companyLink(company: models.CompaniesHouseId) = @{
    if(intentToFile) routes.Default.todo() //routes.FileReport.startForCompany(result.CompaniesHouseIdentifier)
    else routes.SearchController.company(company, None)
}


<h1 class="heading-xlarge">
@if(intentToFile) {
    Publish a report
} else {
    Search for a report
}
</h1>

<p class="lede">Enter company number or business name</p>
@shared._search(intentToFile, searchTerm)

@resultsO.map { results =>
    @if(results.items.isEmpty && searchTerm != "") {
        <div class="scannable-wrapper">
            <p class="bold-medium">We didn’t find any businesses with that company number or name.</p>
            <p>Please try searching again using different search terms.</p>
        </div>
    }


    @if(results.items.nonEmpty) {
        <ul class="searchresults">
        @for(result <- results.items) {
            @views.html.shared._companySummary(result, counts.getOrElse(result.company_number, 0), companyLink(result.company_number))
        }
        </ul>
        @shared._pageLinks(results, pageLink)
        <p>
            @results.totalResults @(if(results.totalResults == 1) "match" else "matches") found
        </p>
    }
}