@()
<div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge">Payment practices reporting</h1>
    <p class="lede">
        Large businesses must publish information abut their payment terms and how they keep to them.
    </p>
    <p>Use this service to search for reports that have been published</p>

    <a href="@routes.SearchController.search(None, None, None)" class="button button-start">Start now</a>

    <h2 class="heading-medium">Data export</h2>

    <p><a href="@routes.DownloadController.show()">Export published reports as a CSV file</a></p>
</div>