/*
    LAYOUT AND GOV.UK OVERRIDES
*/
input[type='text'] {
    @media screen and (min-width: 641px) {
        width:300px;
    }
}

textarea.form-control {
    height: 200px;

    @media screen and (min-width: 641px) {
        width: 75%;
    }
}

.link {
    margin:0;
    padding:0;
    color: #005ea5;
    text-decoration:underline;
    display:inline;
    border:none;
    background:none;
    cursor:pointer;
}

.notice {
    margin-bottom: 2em;
    background-color: #9AD9D8;
    /* 8CDBDA  #93DBDA*/
    padding: 25px;

    .icon {
        left:25px;
    }

    ul {
        margin-bottom:0;
    }
}

.scannable-wrapper {
    max-width: 640px;
}

.hidden {
   display:none;
}

.button {
    margin-top:1.7em;
}

.block {
    display: block;
}

.separator {
    height: 10px;
    background-color: #005ea5;
}

.govuk-box-highlight.left-align {
    text-align: left;
    padding: 2em 1em 1em;

    a, a:hover, a:visited {
        color:#fff
    }
}

/*
    SECONDARY BUTTONS
*/

.button-secondary {
    background-color: #bbb;
    -webkit-box-shadow: 0 2px 0 #555;
    -moz-box-shadow: 0 2px 0 #555;
    box-shadow: 0 2px 0 #555;

    &:hover, &:focus {
        background-color: #999;
    }

    @media screen and (min-width: 641px) {
        margin-left:1.5em;
    }
}

/*
    TYPOGRAPHY
*/

.datum {
    font-weight:bold;
}

.small-aside {
    font-size:16px;
    color: #616a6e;
    @media screen and (min-width: 641px) {
        font-size: 18px;
    }
}

.heading-sidebar {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 700;
    text-transform: none;
    font-size-adjust: 0.525;
    margin-top: 0.5em;
    margin-bottom: .83333em;
}
.nowrap {
    white-space: nowrap;
}

.underline {
    border-bottom: solid 1px grey;
}

/*
    FORM LAYOUT
*/
#file-report {

    .error-message {
        min-height:25px;
    }
    .fieldcaption {
        font-weight:bold;
    }

    fieldset {
        margin-bottom: 2em;
    }

    &>.heading-large, &>p {
        margin-left:20px;
    }

    &>.button {
        @media screen and (min-width:641px) {
            margin-left:20px;
        }
    }

    &>.form-group {
        padding-left:20px;

        fieldset.error {
            margin-left:-14px;
            @media screen and (min-width:641px) {
                margin-left: -20px;
            }
        }
    }

    input[type='text'], textarea {
        margin:2px;
    }
    .error>input[type='text'], .error>textarea {
        margin:0;
    }

    &>.form-group.error {
        padding-left:15px;
    }

    .error fieldset {
        padding-left:0;
    }

    .number-unit {
        font-size: 16px;
        float:right;
        padding-right:10px;
        padding-bottom:2px;
        transform: translateY(-130%);
        @media screen and (min-width:641px) {
            float:none;
            font-size: 19px;
            padding: 0 10px;
            display: inline-block;
            transform: translateX(-100%);
        }
    }

    .form-control-number {
        text-align: right;
        padding-right: 25px;
    }

    .form-control-number-wide {
        text-align: right;
        padding-right: 50px;
        width: 50%;
    }
}

.input-float-left {
    float: left;
    width: 2.5em;
    margin-right:1em;

    &.wide {
        width: 3.5em;
    }

    input.form-control[type='text'] {
        width:100%;
        text-align:right;
        padding-right:10px;
    }
}


.check-answers {
    margin-bottom: 60px;

    .key-column {
        font-weight:bold;
        width: 60%;
    }
    &.check-answers-essay .key-column {
        width: 30%;
    }
}

.confirmation {
    margin-top:2em;
    padding-top:10px;
    padding-bottom:10px;
}

/*
    GUIDANCE PAGES
*/

.inline-wizard {
    background-color: #dee0e2;
    padding: 1.5em;

    .output {
        border-left: solid 10px black;
        padding-left: 10px;
        margin-top: 2em;
    }
}

/*
    SEARCH RESULTS
*/

.paging .page {
    display:inline;
    margin-right:1em;

    .thispage {
        font-weight:bold;
    }
}

.searchresults {
    margin: 0 0 2em;
    p {
        margin: 0;
        color: #616a6e;
    }

    .heading-medium {
        margin-bottom:15px;
    }
}

/*
    SEARCH BOX - stolen from companies house
*/

.search-bar-active {
  background: #E5E5E5;
  padding: 0.5em;
  margin-bottom: 2em;
}
.searchfield {
  position:relative;
}

.search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    overflow: visible;
    cursor: pointer;
    box-shadow: none;
    font-size:0;
    color: #fff;
    background-color: #005ea5;
    background-image: url('/assets/images/search-button.png');
    background-repeat: no-repeat;
    background-position: -12.5% 50%;
    border: solid 1px #bfc1c3;
}

#site-search-text{
    //font-family: "proxima_nova", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 93%;
    width: -webkit-calc(100% - 49px);
    width: calc(100% - 49px);
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border: solid 1px #bfc1c3;
    border-right: none;
}