@(isGroup: Boolean, calculator: _root_.calculator.Calculator, df: org.joda.time.format.DateTimeFormatter)

    @import utils.Ordinals

<div id="contentStart" class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out how to report</h1>

    <h3 class="heading-medium underline">Your reporting periods and deadlines</h3>
    @if(calculator.isFuture) {
        <p>
            You told us that your financial year runs from <span id="financial-year-start" class="nowrap">@df.print(calculator.financialYear.dates.startDate)</span>
            to <span id="financial-year-end" class="nowrap">@df.print(calculator.financialYear.dates.endDate)</span>.
            <span id="no-need-to-report">
                You don't need to report for that year, as it started before the regulations came into force on 6 April 2017.</span>
        </p>
        <p>
            If your financial year end stays the same,
            @(calculator.reportingPeriods.length match {
                case 1 => "this is your first reporting period"
                case n => "these are your next " + n + " reporting periods"
            }):
        </p>
    } else {
        <p>
            You told us that your financial year runs from <span id="financial-year-start" class="nowrap">@df.print(calculator.financialYear.dates.startDate)</span>
            to <span id="financial-year-end" class="nowrap">@df.print(calculator.financialYear.dates.endDate)</span>.
            @(calculator.reportingPeriods.length match {
                case 1 => "This is your reporting period"
                case n => "These are your reporting periods"
            }):
        </p>
    }
    @for((x, i) <- calculator.reportingPeriods.zipWithIndex) {
        <h3 class="bold-medium">Your @(Ordinals.forNumber(i + 1)) report:</h3>
        <p>
            <span class="bold-small"><span id="period-start-@(i + 1)" class="nowrap">@df.print(x.dateRange.startDate)</span>
                to <span id="period-end-@(i + 1)" class="nowrap">@df.print(x.dateRange.endDate)</span></span>
            <br>
            You must publish this report by <span id="deadline-@(i + 1)" class="bold-small nowrap">@df.print(x.filingDeadline)</span>
        </p>
    }

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">Each report must be approved by a named company director, or, if your business is a limited liability
            partnership, by a named designated member. Each report must be complete and accurate. If not, the business and
            every director or designated member may be liable on prosecution to a fine.</strong>
    </div>

    @if(isGroup) {
        <p class="panel">
            You told us that your business is part of a group. Other companies or LLPs within the group may also need to report.</p>
    } else {
        <p class="panel">
            If your business is part of a group, other companies within the group may also need to report.</p>
    }


    <h3 class="heading-medium underline">What you should report on</h3>
    @shared._coverageInformation()

    <h3 class="heading-medium underline">What you need to report</h3>

    <h4 class="heading-small">Start and end date of reporting period</h4>
    These are shown above, under 'Your reporting periods and deadlines'.

    @shared._day1Calculation()

    <h4 class="heading-small">Average time to pay in days</h4>
    Of all the payments you made in the reporting period, the average time it took to pay.
    Only include payments that you have made under qualifying contracts during the reporting period.


    <h4 class="heading-small">Percentage of payments made</h4>
    <ul class="list list-bullet">
        <li>within 30 days</li>
        <li>in 31 to 60 days</li>
        <li>in 61 days or more</li>
    </ul>

    <p>Only include payments that you have made under qualifying contracts during the reporting period.</p>

    <h4 class="heading-small">Percentage of invoices due which weren’t paid within the agreed period</h4>
    This relates to the number of invoices, not their value. Count all invoices where the contractually agreed
    date for payment was within the reporting period. This includes unpaid and disputed invoices.

    <h4 class="heading-small">Standard payment period</h4>
    The standard payment period is the contractual length of time for your business to make payments, as set out in the
    standard payment terms for qualifying contracts. If your business does not have standard terms, the standard payment
    period will be the contractual payment period in your business’s most commonly used terms for the reporting period.
    And if your business uses different terms for different types of qualifying contract, you must give the periods
    for the different contract types, as set out in the standard or most frequently used terms for each contract type.

    <h4 class="heading-small">Standard payment terms</h4>
    This must include a description of your standard terms.
    If you have different payment terms for different types of contract, supplier or product, you should explain them.
    If you do not use standard payment terms you must describe your most frequently used payment terms, again for different
    types of contract, supplier or product if applicable.
    As well as describing you standard or most frequently used payment terms, can also include a link to your
    payment terms on your own website if you want to.

    <h4 class="heading-small">Changes to your standard terms</h4>
    If you changed your standard terms during the reporting period, include details of exactly what has changed:
    be sure to include the 'before' and 'after' situation. You must also state whether you consulted or notified
    suppliers about any changes, and how you did this.

    <h4 class="heading-small">Your maximum contractual payment period</h4>
    This is the longest payment period agreed with a supplier in a contract agreed to during the reporting period.
    You must enter the number of days. There is also an optional box if you would like to add more information.

    <h4 class="heading-small">How do you resolve disputes and complaints with suppliers about payments?</h4>
    <p>
        Describe how you respond to complaints from suppliers about payment under qualifying contracts, and how you
        resolve payment disputes.
    </p>
    <p>
        This helps suppliers know who to contact and to understand the process they need to follow to
        resolve a dispute or concern.
    </p>
    <p>
        This may be a detailed process, or simply an explanation that a complaint or concern will be considered by
        a particular department or job title, the usual timescale and next steps.
    </p>
    <p>
        If your business has a dispute resolution process already published on their website, you could include a
        hyperlink here alongside an explanation of the process.
    </p>

    <h4 class="heading-small">Does your business offer e-invoicing for qualifying contracts?</h4>
    This is where suppliers can electronically submit and track invoices. It's not just allowing suppliers to email you an invoice.
    This is a 'Yes' or 'No' question.


    <h4 class="heading-small">Does your business offer supply chain finance options in relation to qualifying contracts?</h4>
    <p>
    This is where you have an arrangement where a supplier who has submitted an invoice can be paid by a third-party
    finance provider earlier than the agreed payment date.
    Your business would then pay the finance provider the invoiced sum.
    This is a 'Yes' or 'No' question.
    </p>
    <p>
    There is an option to give more details about this in your information about your standard payment terms.
    </p>

    <h4 class="heading-small">
        Under its payment practices and policies, can your business deduct sums from payments under qualifying
        contracts as a charge for remaining on a supplier list?
    </h4>
    This is about what is possible under your policies and practices.
    This is a 'Yes' or 'No' question.

    <h4 class="heading-small">
        In this reporting period, has your business deducted any sum from payments for a qualifying contract as a
        charge for remaining on a supplier list?
    </h4>
    This question is about whether your business did this in the reporting period.
    You must answer this even if you answered 'no' to the above question. You must answer "yes" even if this is
    infrequent, e.g. your business only did it once in the period.

    <h4 class="heading-small">Is your business a signatory to a code of conduct or standards on payment practices?</h4>
    For example, the Prompt Payment Code
    This is a 'Yes' or 'No' question.
    If the answer is 'Yes', you will be asked the name of the code of conduct or standards that you have signed up to.

    <h3 class="heading-medium underline">Before you can publish</h3>

    <p>
        The person publishing the report needs to have a <a href="https://beta.companieshouse.gov.uk/" rel="external">
        Companies House</a>
        authentication code (This is the same code you'd use to file your annual accounts online.
        It is sent to your company's registered office by post, so allow plenty of time for delivery.)
    </p>

    <p>
        Once you have all the information you can <a href="@controllers.routes.ReportController.search(None, None, None)">
        publish a report</a>.
    </p>
</div>
