@(isGroup:Boolean, calculator: _root_.calculator.Calculator, df: org.joda.time.format.DateTimeFormatter)

@import utils.Ordinals

<div class="scannable-wrapper">
    <h1 class="heading-xlarge">Find out how to report</h1>

    <h3 class="heading-medium underline">Your reporting periods and deadlines</h3>
    @if(calculator.isFuture) {
    <p>
        You told us that your financial year runs from <span class="nowrap">@df.print(calculator.financialYear.dates.startDate)</span> to <span class="nowrap">@df.print(calculator.financialYear.dates.endDate)</span>. You do not have to report for that year, as it starts before the regulations come into force on 6 April 2017.
    </p>
    <p>
        As long as you do not change your financial year end until then
        @(calculator.reportingPeriods.length match{ case 1 => "this is your first reporting period" case n => "these are your next " + n + " reporting periods"}):
    </p>
    } else {
    <p>
        You told us that your financial year runs from <span class="nowrap">@df.print(calculator.financialYear.dates.startDate)</span> to <span class="nowrap">@df.print(calculator.financialYear.dates.endDate)</span>.
            @(calculator.reportingPeriods.length match{ case 1 => "This is your reporting period" case n => "These are your reporting periods"}):
    </p>
    }
    @for((x,i) <- calculator.reportingPeriods.zipWithIndex) {
        <h3 class="bold-medium">Your @(Ordinals.forNumber(i+1)) report:</h3>
        <p>
            <span class="bold-small"><span class="nowrap">@df.print(x.dateRange.startDate)</span> to <span class="nowrap">@df.print(x.dateRange.endDate)</span></span>
            <br>
            You must publish this report by <span class="bold-small nowrap">@df.print(x.filingDeadline)</span>
        </p>
    }

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong>Each report must be approved by a company director, or a designated member of a limited liability partnership (LLP).
            They must be complete and accurate. If not, the business and every director or designated member may be liable to a fine.</strong>
    </div>

    @if(isGroup){
        <p class="panel">You told us that your business is part of a group. Other companies within the group may also need to report.</p>
    } else {
        <p class="panel">If your business is part of a group, other companies within the group may also need to report.</p>
    }


    <h3 class="heading-medium underline">What you should report on</h3>
    @shared._coverageInformation()

    <h3 class="heading-medium underline">What you need to report</h3>

    <h4 class="heading-small">Start and end date of reporting period</h4>
        These are shown above, under 'Your reporting periods and deadlines'


    <h4 class="heading-small">Average time to pay in days</h4>
        Of all the payments you made in the reporting period, the average time it took to pay.
            Only include payments that you have made during the reporting period.
            A payment is counted as 'made' when it is available to the supplier,
            (for example, when it clears their bank account) unless
            delayed by unforeseen circumstances.

    <h4 class="heading-small">Percentage of invoices due which weren’t paid within the agreed period</h4>
        This relates to the number of invoices, not their value. Count all invoices where the contractually agreed
            date for payment was within the reporting period. This includes unpaid and disputed invoices.


    <h4 class="heading-small">Percentage of invoices paid</h4>
    <ul class="list list-bullet">
        <li>within 30 days</li>
        <li>in 31 to 60 days</li>
        <li>in 61 days or more</li>
    </ul>
    <p>Only include payments that you have made during the reporting period.</p>

    <h4 class="heading-small">Standard payment terms</h4>
        This must include a description of your standard payment terms.
            If you have different terms for different types of supplier, you should explain them.
            Most companies write a couple of paragraphs here.

    <h4 class="heading-small">Standard payment period</h4>
        This is your standard contractual payment period in days.

    <h4 class="heading-small">Your maximum contractual payment period</h4>

        This is the longest payment period agreed with a supplier in a contract signed during the reporting period.
            You can just put the number of days, or you can add an explanation.


    <h4 class="heading-small">Changes to your standard terms</h4>

        If you changed your standard terms during the reporting period, include details of exactly what has changed:
            be sure to include the 'before' and 'after' situation. You must also state whether you consulted or notified
            suppliers about any changes, and how you did this. Most businesses write a couple of paragraphs here.


    <h4 class="heading-small">Your dispute resolution process</h4>

        Describe how you respond to complaints from suppliers, and how you resolve payment disputes. Most businesses write a couple of paragraphs here.


    <h4 class="heading-small">Does your business offer e-invoicing?</h4>

        This is where suppliers can electronically submit and track invoices. It's not just allowing suppliers to email you an invoice.


    <h4 class="heading-small">Does your business offer supply chain finance options?</h4>

        This is where you have an arrangement where a supplier who has submitted an invoice can be paid by a third-party
            finance provider earlier than the agreed payment date. Your business would then pay the finance provider the invoiced sum by the payment date.
            <br>You can give more details about this in your information about your standard payment terms, but you don't have to.


    <h4 class="heading-small">Under its payment practices and policies, can your business deduct sums from payments as a charge for remaining on a supplier list?</h4>


    <h4 class="heading-small">Did the business do this during this reporting period?</h4>

        You must answer this even if you answered 'no' to the above question.



    <h4 class="heading-small">Has your business signed up to a code of conduct or standards on payment practices?</h4>

        For example, the Prompt Payment Code



    <h3 class="heading-medium underline">Before you start</h3>

    <p>
        The person publishing the report needs to have a <a href="https://beta.companieshouse.gov.uk/" rel="external">Companies House</a>
            authentication code to publish reports for your company (the same code you'd use to file your annual accounts online.
            The code is sent to your company's registered office by post, so allow plenty of time for delivery.
    </p>
</div>
