@(id: CompaniesHouseId)

<div id="contentStart" class="scannable-wrapper">
    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong>
            We encountered a problem trying to log you in.
        </strong>
    </div>

    <h2 class="heading-medium">What happens next</h2>

    <p><a href="@controllers.routes.ReportController.preLogin(id)">Please try again</a>.</p>
    <p> If you are still having problems, please contact paymentpracticesreporting@@beis.gov.uk. </p>

</div>