//stolen from https://github.com/alphagov/static

.print-link {
  text-align: left;
  margin: 2em 0 0 0;

  a, a:link, a:visited {
    background: url("/assets/images/icon-print.png") no-repeat 0% 50%;
    padding: 0.5em 0 0.5em 28px;

    @include device-pixel-ratio() {
      background-image: url("/assets/images/icon-print-2x.png");
      background-size: 16px 18px;
    }

    zoom: 1;
  }
}